{% macro list_event_small(events) -%}
    {% for evt in events %}
    <li class="list-group-item">
        {{ evt.s_day }}.{{ evt.s_month_num }}@{{ evt.s_time }} {{ evt.cal }} <strong class="title">{{ evt.name }}</strong>
    </li>
    {% endfor %}
{%- endmacro %}
{% macro list_event(events) -%}
    {% for evt in events %}
    <li>
        <time datetime="{{ evt.s_year }}-{{ evt.s_month }}-{{ evt.s_day }} {{ evt.s_time }}">
            <span class="dow">{{ evt.dow }}</span>
            <span class="day">{{ evt.s_day }}</span>
            <span class="month">{{ evt.s_month }}</span>
            <span class="year">{{ evt.s_year }}</span>
        </time>
        <div class="info">
            <h3 class="title">{{ evt.name }} - {{ evt.cal }}</h3>
            <span class="specs">
                <img src="./static/img/clock.png"/>
                {{evt.s_time}} - {{evt.e_time}}
                {% if evt.location %}
                    <img src="./static/img/loc.png" />
                    {{evt.location}}
                {% endif %}
            </span>
            {% if evt.description %}
                <p class="desc">{{ evt.description }}</p>
            {% endif %}
        </div>
    </li>
    {% endfor %}
{%- endmacro %}
{% extends "base.html" %}
{% block body %}
<div class="row">

    <div class="col-md-6">
        {% if data.today_events %}
            <div class="panel panel-default">
                <div class="panel-heading">Today events</div>
                <ul class="panel-body event-list">
                    {{ list_event(data.today_events) }}
                </ul>
            </div>
        {% endif %}

        {% if data.week_events %}
            <div class="panel panel-default">
                <div class="panel-heading">This week events</div>
                <ul class="panel-body event-list">
                    {{ list_event(data.week_events) }}
                </ul>
            </div>
        {% endif %}
    </div>

    <div class="col-md-6">
        {% if data.past_events %}
            <div class="panel panel-default">
                <div class="panel-heading">Recent events</div>
                <ul class="panel-body event-list">
                    {{ list_event(data.past_events) }}
                </ul>
            </div>
        {% endif %}

        {% if data.future_events %}
        <div class="panel panel-default">
            <div class="panel-heading">Future events</div>
            <ul class="panel-body list-group">
                {{ list_event_small(data.future_events) }}
            </ul>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}

