{% macro list_event(events) -%}
    {% for evt in events %}
    <li>
        <time datetime="{{ evt.s_year }}-{{ evt.s_month }}-{{ evt.s_day }} {{ evt.s_time }}">
            <span class="dow">{{ evt.dow }}</span>
            <span class="day">{{ evt.s_day }}</span>
            <span class="month">{{ evt.s_month }}</span>
            <span class="year">{{ evt.s_year }}</span>
        </time>
        <div class="info">
            <h2 class="title">{{ evt.name }} - {{ evt.cal }}</h2>
            <span class="specs">
                <img src="./static/img/clock.png"/>
                {{evt.s_time}} - {{evt.e_time}}
                {% if evt.location %}
                    <img src="./static/img/loc.png" />
                    {{evt.location}}
                {% endif %}
            </span>
            {% if evt.description %}
                <p class="desc">{{ evt.description }}</p>
            {% endif %}
        </div>
    </li>
    {% endfor %}
{%- endmacro %}
{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <ul class="event-list">
                {% if data.past_events %}
                    <strong>Recent events</strong>
                    {{ list_event(data.past_events) }}
		    <hr/>
                {% endif %}
                {% if data.today_events %}
                    <strong>Today events</strong>
                    {{ list_event(data.today_events) }}
		    <hr/>
                {% endif %}
                {% if data.week_events %}
                    <strong>This week events</strong>
                    {{ list_event(data.week_events) }}
		    <hr/>
                {% endif %}
                {% if data.future_events %}
                    <strong>Future events</strong>
                    {{ list_event(data.future_events) }}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

